.html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #343434;
}

.title {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
    font-size: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: #53FE08;
}

.board {
    display: block;
    margin: auto;
    background-color: #2B8F11;
    /* border: 50px solid; */
}

.board:hover {
    cursor: cell;
}

.board-border {
    background-color: black;
    width: 680px;
    height: 680px;
    display: block;
    margin: auto;
    margin-top: -640px;
    margin-bottom: 10px;
}

.shuffle-btn {
    background-color: black;
    width: 680px;
    height: 80px;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 0;
    color: #53FE08;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.shuffle-btn:hover {
    background-color: rgb(5, 5, 5);
    color: #FF0000;
    cursor: pointer;
}

.status {
    position: absolute;
    top: 175px;
    left: 100px;
    height: 770px;
    width: 400px;
    background-color: black;
}

.status-title {
    font-weight: normal;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.solve-status {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    width: 320px;
}

.unsolved {
    background-color: #FE0000;
}

.solved {
    background-color: #00FF00;
}

.num-moves-title {
    margin-top: 50px;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.num-moves {
    margin-top: 80px;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
}